

:root{
    --color-dark1:#232323;
    --color-dark2:#212121;
    --color-dark3:#878787;
    --color-bg-gray:#F0F0F0;
    --color-bg-green:#6CC886;
    --color-pest:#39faca;
    --color-blue:#6EC1E4;;
    --color-orange:#F05B43;
    --color-white:#fff;
   
}